a{
    color: #640fc5;
}
.carousel-caption
{
    color: #640fc5;

}
.background-footer ul li a{
    color: #640fc5 !important;
}
.background-footer ul li {
    list-style: none;
}
.price-table{
    color: #26f;
    font-weight: bold;
    background: #eee;
    font-size: 12px;
}
.price-table th{
    font-size: 16px;
    color: black;
    padding: 20px;
    margin: 20px;
}
.price-table th p{
    font-size: 16px;
    color: black;
    padding: 20px;
    margin: 20px;
}
.background-container-fluid h4{
    padding: 30px;
    font-weight: bold;
}
.background-container-fluid h5{
    padding: 14px;
    font-weight: bold;
}
/*for navbar */
.draw2:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    top: 0;
    left: 0;
    background-color: #35a;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.draw2:hover:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.draw{
    position: relative;
}
.draw::before, .draw::after {
    content: '';
    position: absolute;
    border: 3px solid transparent;
    width: 0;
    height: 0;
}
.draw::before {
    bottom: 0;
    right: 0;
}
.draw:hover::before, .draw:hover::after {
    width: 100%;
    height: 100%;
}
.draw:hover::before {
    border-bottom-color: #38F;
    transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}
.full-size{
    width: 100%;
}

::-webkit-scrollbar {
    width: 6px;
    height: 10px;
}
::-webkit-scrollbar-track {
    background: rgba(100,15,240,0.3);
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 3px;
    background-color: #640fc5;
}
@font-face {
    font-family: 'iransans';
    src:url(../fonts/ttf/iranian-sans.ttf);
}
body {
    font-family: 'iransans',arial,sans-serif;
    font-size: 15px;
    /*min-width: 400px;*/
}
.end-fluid{
    background: linear-gradient(#36d, rgb(255, 255, 255)); 
    padding: 80px;
    margin: 0px -15px 0px -15px;
}
.home-page {
    min-height: 250px;
    background: url('../img/background1.png') top no-repeat;
    margin:0px -20px 0px -20px;
    background-size: 100% auto;
}
.header-title{
    color: #30a;
    text-shadow: 3px 3px 9px rgba(250,250,250,1);
    padding: 25px;
}
.background-container {
    padding:0px 20px 0px 20px;
    box-shadow: 0px -10px 30px  #88f;
    background-color: white;
    /*min-width: 360px;*/
}
.background-container-fluid{
    margin-top: -20px;
    background-color: #f1f1f1;
}
.fluid-no-margin{
    padding-left: 15px;
}
.one-third-seperate {
    height: 5px;
    clear: both;
}
.half-seperate {
    height: 10px;
    clear: both;
}
.seperate {
    height: 20px;
    clear: both;
}
.double-seperate {
    height: 40px;
    clear: both;
}
.ltr {
    direction: ltr;
}
.rtl {
    direction: rtl;
}
.no-margin {
    margin: 0px -20px 0px -20px;
}
.bold{
    font-weight: bold;
}
.hug-size {
    font-size: 400%;
}
.double-size {
    font-size: 150%;
}
.big-size {
    font-size: 120%;
}
.small-size {
    font-size: 80%;
}
.background-nav {
    background-color: white;
    border-radius: 0px;
    box-shadow: 0px 0px 20px  #640fc5;
    border: none;
    z-index: 11;
}
.nav a {
    color: #448aff;
    padding: 10px;   
}
.nav a:hover{
    text-decoration: none;
}
.nav li a{
    color:#848484;
    padding: 25px;
}
.nav li a:hover{
    color: #640fc5;

    background-color: rgba(0,0,0,0);
    /*border-bottom:3px solid #24a;*/
}
.nav .selected {
    font-weight: bold;
    color: #444444;
    border-bottom:3px solid #448aff;
}
.nav .selected:hover {
    color: #444444;
}
.navbar-header .selected{
    border-bottom:3px solid #448aff;
}
.navbar-header img {
    width: 110px;
    margin-top:0px;
}
.navbar-header .navbar-brand{
    height: 73px;
}
.main-header{
    text-shadow:1px 3px 10px #ccc;
    position: absolute;
    z-index: 1;
    color: white;
}
.transition1 {    
    animation: eye 0.4s infinite alternate;
}
@keyframes eye {
    0%   {width:50px;margin-bottom:5px;margin-top:5px;}
    100% {width:60px;margin-bottom:0px;margin-top:0px;}
}
.lazy {
    /*display: none;*/
}
@keyframes showing {
    0%   {margin-top:0px;margin-bottom:0px;animation-timing-function: ease-out;}
    100% {margin-top:-20px;margin-bottom:20px;animation-timing-function: ease-in;}
}
.select{
    height: 50px;
    background: linear-gradient(#fff , #ccffcc );
    box-shadow: rgba(70,120,220, 0.51) 3Px 3px 9px; 
}
.hide-white-to-gray{
        background: linear-gradient(#fff , #ddd );
    height: 140px;
}
.background-footer {
    background: #ddd;
    /*color: white;*/
}
.background-footer a{
    text-decoration: none;
    color: #fff;
    margin: 10px;
}
.background-footer li{
    margin: 10px;
}
.affix {
    top: 0;
    width: 100%;
    z-index: 1;
}
.affix + .affix-fixer {
    padding-top: 60px;
}
.radio-style input[type="radio"],
.radio-style input[type="checkbox"]{
    display: none;
}
.radio-button{
    border-bottom: 1px solid #ddd;
    padding: 10px;
    margin-right: 50px;
}
.radio-button span::before,
.radio-button span::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}
.radio-button span.radio:hover {
    cursor: pointer;
}
.radio-button span.radio::before {
    right: -52px;
    width: 45px;
    height: 25px;
    background-color: #A8AAC1;
    border-radius: 50px;
}
.radio-button span.radio::after {
    right: -49px;
    width: 17px;
    height: 17px;
    border-radius: 10px;
    background-color: #6C788A;
    transition: left .25s, background-color .25s;
}
input[type="radio"]:checked + label span.radio::after {
  right: -27px;
  background-color: #4e4;
}
.social-network {
    float: right;
    width: 42px;
    height: 42px;
    background-image: url(../img/social-network.png);
    background-repeat: no-repeat;
    cursor: pointer;
}
.facebook {
    background-position: -126px -2px;
}
.facebook:hover {
    background-position: -126px -44px;
}
.instagram {
    background-position: -168px -2px;
}
.instagram:hover {
    background-position: -168px -44px;
}
.twitter:hover {
    background-position: 0px -42px;
}
.telegram {
    background-image: url(../img/telegram-icon.png);
}
.header-title h1{
    color: #3F4;
    text-shadow: 3px 3px 4px rgba(0,0,0,1);
}
.header-title h2{
    line-height: 50px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,1);
}
.header-title{
    display: inline-block;
    /*background:  linear-gradient(to bottom, #48f 0%, #48f 10%, #48f 23%, #48f 100%);*/
}/*
.select{
    height: 50px;
    background: linear-gradient(to bottom,rgba(200,215,255,0.9) 0%, 
        rgba(255,255,255,0.9) 50%, rgba(160,255,215,0.9) 100%);
    box-shadow: rgba(70,120,220, 0.51) 3Px 3px 9px; 
    border:2px solid white;
}*/
.background-divar{
    background: linear-gradient(to bottom,rgba(200,215,255,0.9) 0%, 
        rgba(255,255,255,0.9) 30%, rgba(215,255,215,0.6) 70%, rgba(160,255,215,0.9) 100%);
}
.background-image-first-page {
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0;
    right:0;
    max-height: 500px;
    margin: -5px;
    margin-top: 0px;
}

@keyframes eye {
    0%   {width:50px;margin-bottom:5px;margin-top:5px;}
    100% {width:60px;margin-bottom:0px;margin-top:0px;}
}
.eat{
    position: absolute;
    top: -50px;
    z-index: 1;
}
.move1{
    animation: showing .9s infinite alternate;
    animation-timing-function: ease-in,ease-out;
}
.move2{
    animation: showing .85s infinite alternate;
    animation-timing-function: ease-in,ease-out;
}

.card {
    min-height: 320px;
    margin: 0px 0px 30px 0px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    background-color: white;
    color: #444;
    transition: all .5s ease;
}
.card:hover {
    box-shadow: 0 2px 16px 0 rgba(0,0,0,0.4);
}
.card-a:hover {
    text-decoration: none;
}
.card-img{
    border-bottom: 1px solid #FBAF3F; 
    height: 170px;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
}
.card-title{
    color: #333;
    margin: 30px 10px 15px 0px;
    transition: all .5s ease;
}
.card:hover .card-title{
    margin: 35px 10px 10px 0px;
}
.card-hr{
    margin-top: -15px;
}
.card-address{
    margin: 0px 25px 0px 25px;
    padding: 0px 30px 10px 30px;
    color: #777;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: all .5s ease;
}
.card:hover .card-address{
    margin-right: 10px;
    margin-left: 10px;
}
.artist{
    margin-bottom: 30px;
    transition:all .5s ease;
}
.artist:hover .artist-title{
    padding-left: 10px;
}
.artist-img{
    /*-webkit-filter: grayscale(100%);*/
    filter: grayscale(100%);
    border: 1px solid #EEE; 
    height: 150px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition:.5s ease;
}
.artist:hover .artist-img{
    /*-webkit-filter: none;*/
    filter: none;
}
.artist-title{
    color: #555;
    transition: all .5s ease;
}
.artist a{
    text-decoration: none;
}
.art-work {
    position: relative; 
    float: right;
    margin: 1%;
    width: 31%;
     /*display: block; */
}
.art-work img{
    max-width: 100%;
}
.art-work .card-title {
    padding-bottom: 30px;
}
.cover-gallery {
    height: 400px;
    background-attachment: fixed;
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;
}
.gallery{
    background-color: white;
    padding: 20px;
    border-radius: 3px;
}
.gallery img{
    width: 100px;
}
.btn{
    /*btn1 */
    /*background: #3FA9F5;*/
    /*box-shadow: 0 10px 20px 0 rgba(14,107,150,.25);*/
    /*border-radius: 100px;*/
    /*transition: all .5s ease;*/

    /*btn2*/
    /* border: 5px solid #FBAF3F;
    padding: 15px 25px 18px;
    color: #fff;
    background: rgba(0,0,0,.3);
    transition: all .5s ease;*/
}